[Desktop Entry]
Name=runMojaveWallpaperEmulator
Exec=python3 '/home/diego/.wallchanger/mojaveWallpaperEmulator.py'
Type=Application
X-GNOME-Autostart-enabled=true
